#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 1;
    transition: opacity 0.5s;
}
#preloader.hide {
    animation: fadeOut 0.5s forwards;
}
#loader {
    width: 40px;
    height: 40px;
    border: 4px solid #f5f5f5;
    border-top-color: #a6cd46;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    user-select: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


html {
    height: 100%;
}

span.step-info {
    color: #A6CD46;
    font-size: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
}

a.back-to-main {
    color: #858585;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 27px;
    transition: 0.3s;
}

a.back-to-main:hover,
.radio-input:checked+label,
.btn-quiz-prev:hover,
.question .inner .custom-radio input:hover::placeholder,
.chubs-step .chubs-quiz-answers-type-select .select2-container--default .select2-selection--single:hover .select2-selection__rendered {
    color: #A6CD46;
}

a.back-to-main:focus,
.btn-quiz-prev:focus {
    color: #688B13;
}

.banner .logo {
    margin-bottom: 0;
}

.quiz-progress {
    margin-top: 18px;
}

.chubs-step {
    min-height: 410px;
    display: none;
}

.chubs-step legend,
.chubs-step p {
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    max-width: 660px;
    margin: auto;
    text-align: center;
}

.chubs-step legend {
    color: #141414;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}

.chubs-step p {
    color: #858585;
    font-size: 16px;
    font-weight: 300;
    max-width: 572px;
}


.chubs-step .chubs-quiz-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.chubs-step .chubs-quiz-answers .chubs-quiz-answer-label {
    margin-bottom: 20px;
}

.chubs-step .inner .chubs-quiz-answers-type-contacts,
.chubs-step .chubs-quiz-answers-2,
.chubs-step .chubs-quiz-answers-3{
    max-width: 400px;
    margin: 78px auto 0;
}

.chubs-step .chubs-quiz-answers-2 .chubs-quiz-answer-label {
    width: 100%;
    flex-basis: 100%;
    margin-left: 0!important;
    max-width: 400px;
}

.chubs-step .chubs-quiz-answers-3 .chubs-quiz-answer-label {
    width: 100%;
    flex-basis: 100%;
    margin-left: 0!important;
    max-width: 400px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.chubs-step .chubs-quiz-answers-3 .chubs-quiz-answer-label:last-child {
    margin-bottom: 0;
}

.chubs-step .chubs-quiz-answer-label:hover {
    background: #BADC68;
    color: #FFFFFF;
}

.chubs-step .chubs-quiz-answers-5,
.chubs-step .chubs-quiz-answers-6 {
    max-width: 835px;
    margin: 78px auto 0;
    justify-content: space-between;
}

.chubs-step .chubs-quiz-answers-5 .chubs-quiz-answer-label,
.chubs-step .chubs-quiz-answers-6 .chubs-quiz-answer-label {
    margin-left: 0!important;
    max-width: 400px;
}

.chubs-step .chubs-quiz-answers-type-textarea {
    margin: 78px auto 0;
}

.chubs-step .chubs-quiz-answers-type-textarea .chubs-quiz-answer-label {
    border: none;
    height: initial;
    width: 660px;
    max-width: 100%;
}

.chubs-step .chubs-quiz-answers-type-range .chubs-quiz-answer-label,
.chubs-step .chubs-quiz-answers-type-slider .chubs-quiz-answer-label {
    border: none;
    height: initial;
    max-width: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.chubs-step .chubs-quiz-answers-type-select .select2 {
    max-width: 100%;
}

.chubs-step .chubs-quiz-answers-type-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #858585;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.chubs-step .chubs-quiz-answers-type-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 25px;
}

.chubs-step .chubs-quiz-answers-type-select .chubs-quiz-answer-label,
.chubs-step .chubs-quiz-answers-type-birth .chubs-quiz-answer-label,
.chubs-step .chubs-quiz-answers-type-contacts .chubs-quiz-answer-label {
    border: none;
    width: 400px;
    max-width: 100%;
}

.chubs-step .inner .chubs-quiz-answers-type-birth .chubs-quiz-answer-label .date {
    font-weight: 500;
    text-align: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #858585;
    display: block;
    width: 100%;
}

.chubs-step .inner .chubs-quiz-answers-type-contacts .chubs-quiz-answer-label input {
    font-weight: 500;
    text-align: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #858585;
    display: block;
    width: 100%;
}

.chubs-step .inner .chubs-quiz-answers-type-contacts .chubs-quiz-answer-label {
    width: 100%;
    flex-basis: 100%;
    margin-left: 0!important;
    max-width: 400px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.chubs-step .chubs-quiz-answers-type-birth .chubs-quiz-answer-label:hover,
.chubs-step .chubs-quiz-answers-type-contacts .chubs-quiz-answer-label:hover,
.chubs-step .chubs-quiz-answers .chubs-quiz-answer-label:has(.chubs-label-for-range):hover {
    background: transparent;
}

.chubs-step .noUi-target {
    box-shadow: none;
    height: 4px;
    border: none;
    background: #D9D9D9;
    width: 827px;
}
.chubs-step .noUi-handle.noUi-handle-lower {
    border-radius: 17px;
    background: #A6CD46;
    width: 17px;
    height: 17px;
    border: none;
    box-shadow: none;
}

.chubs-step .noUi-handle:before, .chubs-step .noUi-handle:after {
    display: none;
}

.chubs-step .noUi-connect {
    background: #A6CD46;
}

.chubs-step .noUi-touch-area {
    height: 156%;
    width: 156%;
    cursor: pointer;
}

.btn-quiz-next {
    max-width: 400px;
}

.btn-quiz-prev {
    color: #858585;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    margin: 35px auto;
    transition: 0.3s;
}

.chubs-quiz .question {
    height: initial;
    margin-bottom: 80px;
}

.quiz-header {
    justify-content: space-between;
}

.question .inner .answer-btn textarea {
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 100%;
    max-width: 660px;
    padding: 15px 25px;
    height: 250px;
    resize: none;
    color: #858585;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.chubs-quiz-answer-label-text {
    padding: 0 30px;
    text-align: center;
    user-select: none;
}

.chubs-label-for-range {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin-left: 5px;
}

.chubs-label-for-range li {
    color: #141414;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.chubs-label-for-range li:nth-child(1) {
}
.chubs-label-for-range li:nth-child(2) {
    margin-left: -55px;
}
.chubs-label-for-range li:nth-child(3) {
    margin-left: -89px;
}
.chubs-label-for-range li:nth-child(4) {
    margin-left: -17px;
}
.chubs-label-for-range li:nth-child(5) {
}

.radio-input+label:before {
    transition: 0.3s;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: 80% 100%;
    margin-right: 10px;
}

.radio-input+label {
    cursor: pointer;
}

.tooltip {
    position: relative;
    margin-left: 5px;
    transition: 0.3s;
}

.tooltip:hover svg path {
    fill: #A6CD46;
}

.radio-input:not(:disabled):not(:checked)+label {
    color: #B7B7B7;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.radio-input:not(:disabled):not(:checked)+label:before {
    border-color: #B7B7B7;
}

.radio-input:not(:disabled):not(:checked)+label:hover {
    color: #A6CD46;
    transition: 0.3s;
}

.radio-input:checked+label:before {
    background-image: url("../img/icons/checkbox-radio.svg");
    background-color: #A6CD46;
}

.question .inner .custom-radio .answer-btn {
    max-width: 100%;
    justify-content: flex-start;
}

.chubs-step .chubs-quiz-answers-type-select .select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single,
.question .inner .custom-radio input::placeholder,
.radio-input + label {
    transition: 0.3s;
}

.select2-container--default .select2-selection--single:hover,
.radio-input:not(:disabled):not(:checked) + label:hover:before,
.question .inner .custom-radio input:hover {
    border-color: #A6CD46;
}

.select2-container--default .select2-selection--single:hover .select2-selection__arrow b{
    border-color: #A6CD46 transparent transparent transparent;
}

.question .inner .custom-radio input {
    transition: 0.3s;
    color: #141414;
    font-weight: 500;
}

.question .inner .custom-radio input:focus::placeholder {
    color: #D9D9D9;
}

.fs-error {
    color: #865480;
    padding: 15px;
    font-size: 12px;
    line-height: 15px;
    display: none;
    border: 1px solid #865480;
    border-radius: 10px;
}

.has-error .fs-error {
    display: block;
}

form .inputs-wrapper {
    display: block;
    width: 400px;
}

.question .inner .custom-radio input[type=text]+input[type=text],
.question .inner .custom-radio .answer-btn+.answer-btn {
    margin-left: 0;
}

.question .inner .custom-radio input {
    margin-bottom: 20px;
}

form .inputs-wrapper input {
    width: 100%;
    max-width: 400px;
}

.success, select.success~.select2-container--default .select2-selection--single {
    border: 1px solid #a6cd46!important;
    color: #a6cd46!important;
}

.chubs-step .chubs-quiz-answers-type-checkbox {
    max-width: 512px;
}

.chubs-step .chubs-quiz-answers-type-checkbox input+label::before {
    transition: 0.3s;
    border-radius: 5px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: 80% 100%;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    position: relative;
    top: -2px;
}

.chubs-step .chubs-quiz-answers-type-checkbox input:checked+label {
    color: #A6CD46;
}

.chubs-step .chubs-quiz-answers-type-checkbox .answer-btn:hover {
    background: transparent;
}
.chubs-step .chubs-quiz-answers-type-checkbox .answer-btn.active {
    background: transparent;
}

.chubs-step .chubs-quiz-answers-type-checkbox .answer-btn {
    border: none;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
    height: initial;
}

.chubs-step .chubs-quiz-answers-type-checkbox label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    text-align: start;
    color: #858585;
    transition: 0.3s;
}
.chubs-step .chubs-quiz-answers-type-checkbox label:hover:before {
    border-color: #A6CD46;
}

.chubs-step .chubs-quiz-answers-type-checkbox label:hover {
    color: #858585;
}

.chubs-step .chubs-quiz-answers-type-checkbox .radio-input:not(:disabled):not(:checked)+label:before {
    border-color: #B7B7B7;
}

.chubs-step .chubs-quiz-answers-type-checkbox .radio-input:not(:disabled):not(:checked)+label:hover {
    color: #A6CD46;
    transition: 0.3s;
}

.chubs-step .chubs-quiz-answers-type-checkbox label:before {
    content: "";
    display: inline-flex;
    align-items: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: 80% 100%;
    margin-right: 10px;
}

.chubs-step .chubs-quiz-answers-type-checkbox input:checked+label:before {
    background-image: url("../img/icons/checkbox-radio.svg");
    background-color: #A6CD46;
}

.subquestion {
    color: #858585;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.chubs-step .chubs-quiz-answers-type-checkbox {
    max-width: 1100px;
    margin: 60px auto 0;
}

.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-2,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-3,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-4,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-5,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-6 {
    max-width: 600px;
}

.chubs-step .chubs-quiz-answers-type-checkbox .answer-btn {
    width: 100%;
    max-width: 48%;
    display: inline-flex;
}

.chubs-step .chubs-quiz-answers-type-checkbox .answer-btn+.answer-btn {
    margin-left: 0;
}

.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-2 .answer-btn,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-3 .answer-btn,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-4 .answer-btn,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-5 .answer-btn,
.chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-6 .answer-btn {
    max-width: 100%;
    width: 100%;
    display: flex;
}


.chubs-step .chubs-quiz-answers-type-number {
    border-radius: 20px;
    border: 1px solid #EFEFEF;
    max-width: 500px;
    margin: 60px auto 0;
    background: #FDFDFD;
    padding: 52px 75px;
}
.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label input {
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    width: calc(50% + 40px);
    margin: 0 20px;
    max-width: 172px;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p {
    color: #141414;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p:nth-of-type(1) {
    width: 26%;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p:nth-of-type(2) {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    width: 24%;
}

.chubs-step .chubs-quiz-answers-type-number .answer-btn:hover, .chubs-step .chubs-quiz-answers-type-number {
    justify-content: flex-start;
}

.chubs-steps .chubs-step .answer-btn+.answer-btn {
    margin-left: 0;
}

.chubs-step .chubs-quiz-answers-type-number .answer-btn:hover, .chubs-step .chubs-quiz-answers-type-number .answer-btn {
    border: none;
}

.chubs-step .chubs-quiz-answers-type-number .answer-btn:hover, .chubs-step .chubs-quiz-answers-type-number .answer-btn.active {
    background: transparent;
}
.chubs-step .chubs-quiz-answers-type-number input::-webkit-outer-spin-button,
.chubs-step .chubs-quiz-answers-type-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.chubs-step .chubs-quiz-answers-type-number input[type='number'] {
    -moz-appearance: textfield;
    display: block;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label {
    width: 100%;
    display: flex;
    align-items: center;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label input {
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    width: calc(50% + 40px);
    margin: 0 20px;
    max-width: 172px;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p {
    color: #141414;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p:nth-of-type(1) {
    width: 26%;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label p:nth-of-type(2) {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    width: 24%;
}


.chubs-step .chubs-quiz-answers-type-number .answer-btn:hover, .chubs-step .chubs-quiz-answers-type-number .answer-btn.active {
    background: transparent;
}
.chubs-step .chubs-quiz-answers-type-number input::-webkit-outer-spin-button,
.chubs-step .chubs-quiz-answers-type-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.chubs-step .chubs-quiz-answers-type-number input[type='number'] {
    -moz-appearance: textfield;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label:nth-of-type(3) {
    border: 1px solid #dedede;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 200px);
    max-width: 400px;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label:nth-of-type(3):hover {
    color: #a6cd46;
    justify-content: center;
    border-color: #a6cd46;
}

.chubs-step .chubs-quiz-answers-type-number .chubs-quiz-answer-label:nth-of-type(3).active {
    background: #a6cd46;
    color: #fff;
}

.chubs-step:has(.chubs-quiz-answers-type-number) {
    min-height: 530px;
}


@media (min-width: 1780px) {
    .chubs-label-for-range {
        width: 1000px;
    }
    .chubs-step .noUi-target {
        width: 960px;
    }
}

@media (min-width: 2040px) {
    .chubs-label-for-range {
        width: 1200px;
    }
    .chubs-step .noUi-target {
        width: 1160px;
    }
}


@media (max-width: 1024px) {
    .chubs-quiz .question {
        max-width: 742px;
        margin: 0 auto 80px;
        padding: 0 24px;
    }
    .banner {
        margin-bottom: 80px;
        padding-top: 30px;
    }
    .chubs-step .noUi-target {
        max-width: 649px;
    }
    .chubs-step .chubs-quiz-answers {
        margin-top: 40px;
    }
    .chubs-label-for-range li:nth-child(2) {
        margin-left: -40px;
        max-width: 20%;
        text-align: center;
    }
    .chubs-label-for-range li:nth-child(3) {
        margin-left: -65px;
    }
    .chubs-step .inner .chubs-quiz-answers-type-contacts, .chubs-step .chubs-quiz-answers-2, .chubs-step .chubs-quiz-answers-3 {
        max-width: 488px;
    }
    .chubs-step .chubs-quiz-answers .chubs-quiz-answer-label {
        max-width: 336px;
    }
    .chubs-step .chubs-quiz-answers-2 .chubs-quiz-answer-label,
    .chubs-step .chubs-quiz-answers-3 .chubs-quiz-answer-label,
    .chubs-step .chubs-quiz-answers-4 .chubs-quiz-answer-label {
        max-width: 488px;
    }
    .chubs-step .inner .chubs-quiz-answers-type-contacts,
    .chubs-step .chubs-quiz-answers-2,
    .chubs-step .chubs-quiz-answers-3,
    .chubs-step .chubs-quiz-answers-4 {
        max-width: 488px;
        justify-content: center;
    }

    .chubs-step .chubs-quiz-answers-type-slider .chubs-quiz-answer-label {
        max-width: 699px;
    }
    .chubs-step .chubs-quiz-answers-type-slider {
        margin-top: 120px;
    }
    .chubs-step {
        min-height: 370px;
    }
    .chubs-step:has(.chubs-quiz-answers-type-slider) {
        min-height: 450px;
    }
    .chubs-quiz-answer-label-text {
        padding: 0 25px;
    }
    .chubs-step .chubs-quiz-answers-5, .chubs-step .chubs-quiz-answers-6 {
        justify-content: space-around;
    }
    .chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-2,
    .chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-3,
    .chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-4,
    .chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-5,
    .chubs-step .chubs-quiz-answers-type-checkbox.chubs-quiz-answers-6 {
        max-width: 522px;
    }
    .chubs-step .chubs-quiz-answers-type-checkbox label {
        padding: 0;
        align-items: center;
    }
    .chubs-step .chubs-quiz-answers-type-checkbox {
        justify-content: space-between;
    }
    .chubs-step .chubs-quiz-answers-type-textarea .chubs-quiz-answer-label {
        max-width: 453px;
    }
}

